doctype html
html(lang='en')
	head
		title Theory of Caomputer Game - HW1, Analysics of DFS & BFS in nonogram.
		script(type='text/javascript', src='./chartist-js/chartist.min.js')
		link(rel='stylesheet', type='text/css', href='./chartist-js/chartist.min.css')
	body
		div.ct-chart

		// Launch the chart.
		script.
			// Import the data from NodeJS app.
			var rounds = !{JSON.stringify(rounds)};

			var data = {
				// Means [0, 1, 2, 3, ..., N-1]
				labels: Array.apply(null, { length: !{amount} }).map(Number.call, Number),
				series: rounds
			};
			var options = {
				width: 10000,
				height: 500,
				axisX: {
					showLabel: false,
					showGrid: false
				}
			};
			new Chartist.Line('.ct-chart', data, options);

